<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">

    <head>

        <!-- Required meta tag -->
        <meta charset="utf-8">
        <meta="viewport" content="width=device-width, initial-scale=1">

            <!-- Bootstrap CSS -->
            <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />

            <!-- Bootstrap icons -->
            <link href="https://icons.getbootstrap.com/" />

            <title>INDEX</title>

    </head>

    <body>
        <div class="container mx-auto">
            <div class="row">
                <div class="col">

                    <div class="card text-bg-primary my-4">
                        <div class="card-header text-center bg-primary text-white">
                            <h1>Menu</h1>
                            <h2>Le nostre pizze</h2>

                        </div>
                        <div class="card-body">
                            <div th:unless="${pizze.isEmpty()}" th:each="item : ${pizze}">
                                <ul>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <label class="form-check-label fs-4" for="Margherita"
                                                th:text="${item.nome}"></label>
                                        </div>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                            <button class="btn btn-primary" type="button" data-bs-toggle="modal"
                                                th:data-bs-target="'#exampleModal' + ${item.id}">Vedi pizza</button>                                        
                                        
                                            <button type="button" class="btn btn-danger" 
                                            data-bs-toggle="modal" 
                                            th:data-bs-target="'#deleteConfermaModal' + ${item.id}">
                                               Elimina 
                                            </button>
                                        </div>
                                        
                                        <div class="modal fade" th:id="deleteConfermaModal + ${item.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
                                             aria-labelledby="deleteConfermaModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                            <div class="modal-content">
                                              <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="deleteConfermaModalLabel">Elimina</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                              </div>
                                              <div class="modal-body">
                                                Sei sicuro di voler eliminare questo elemento?
                                              </div>
                                              <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                                                <form  th:action="@{'/pizzeria/delete/{id}' (id=${item.id})}"
                                                    metod="post">
                                                    <button type="submit" class="btn btn-danger">Elimina</button>
                                                </form>    
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                                                                
                                        <div class="modal fade" th:id="'exampleModal' + ${item.id}" tabindex="-1"
                                            th:aria-labelledby="'exampleModalLabel' + ${item.id}" aria-hidden="true">
                                            <div class="modal-dialog modal-fullscreen-sm-down">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5"
                                                            th:id="'exampleModalLabel' + ${item.id}"
                                                            th:text="${item.nome}"></h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <img th:src="@{${item.fotoUrl}}" alt="foto pizza">
                                                        <p class="modal-body" th:text="${item.descrizione}"></p>
                                                        <p class="modal-body"
                                                            th:text="|€ ${#numbers.formatDecimal(item.prezzo, 1, 2, 'COMMA')}|">
                                                        </p>
                                                        
                                                        <div class="text-end">
                                                            <a th:href="@{/pizzeria/edit/{id} (id=${item.id})}" class="btn btn-primary">Modifica</a>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                                <div th:if="${pizze.isEmpty()}" class="alert alert-light" role="alert">
                                    <p>Non ci sono pizze nel menu</p>
                                </div>

                            </div>
                            <div class="text-end">
                                <a th:href="@{/pizzeria/create}" class="btn btn-primary btn-lg d-block w-100">Crea la tua pizza!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
    </body>

</html>